{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection": "Server=(localdb)\\mssqllocaldb;Database=HelpdeskDb_Test;Trusted_Connection=True;MultipleActiveResultSets=true"
  },
  "Cors": {
    "AllowedOrigin": "http://localhost:5174"
  }
}
